@font-face {
    font-family: OptimusPrinceps;
    src: url('../fonts/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px !important;
    font-weight: 400;
    font-family: OptimusPrinceps, Poppins,Helvetica,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

.ui-jqgrid > .ui-jqgrid-view {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 0;
    /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-size: 14px;
    font-family: OptimusPrinceps;
}

.kt-header {
    background: #bce0fd;
    /* background: url(../media/misc/bg-img_header.png) center top no-repeat #bce0fd; */
}

.kt-header__top .kt-container:first-child  {
    /* background: url(../media/misc/bg-img_header.png) right top no-repeat #bce0fd; */
}


.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-wrapper .kt-badge {
    height: 42px;
    width: 42px;
    background: #003;
}
.kt-badge.kt-badge--rounded {
    border-radius: 50px;
}

.kt-header .kt-header__bottom {
    background-color: #003;
    box-shadow: 0px -5px 20px #fff;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-username {
    color: #636177;
}

.kt-footer .kt-footer__bottom {
    background-color: #003;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #efefef;
}

@media (max-width: 1024px) {
    
.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #6b6f8d;
}

}

.pagination li{
  float: left;
  list-style-type: none;
  margin:5px;
}

.btn-icons{ background-color: #fafafa;
   border: 1px solid #e9edef;
   height: 3rem;
   width: 3rem;
   display: -webkit-inline-box;
   display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 2px;
  padding-left: 8px;
}

.kt-b-border {
    border-bottom: 1px solid #dedede !important;
}

.modal .select2 {
    width: 100% !important;
}

.frm-answer {font-weight: 500; color:#0e84f7; border:solid 1px #dedede; padding: 0 5px}

.text-stat {font-size: 1.5rem;
    font-weight: 500;
    color: #a2a5b9;
    opacity: 0.7;}